@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }

.opensans {
    font-family: 'Open Sans', sans-serif;
    color: #177fd2;
    text-size-adjust: inherit;
    
}

.impact {
    font-family:Impact, Charcoal, sans-serif;
    color: #177fd2;
    text-size-adjust: inherit;
  }
form {
    overflow: hidden;
}
.form-group1 {
    display: -webkit-box;
    text-align: left;
    padding-bottom: 10px;

}

/* .form-control1 {
    background-color: rgb(243, 242, 241);
    border-radius: 4px;
    margin: 50px, 30px, 0px, 0px;
    border: 1px solid rgb(150, 150, 150);
    
} */
/* .form-control1:hover {
    background-color: rgb(240, 235, 235);
    border:1px solid #aacfdb ;
  
  } */
  
.text-label {
    float: left;
    width: 50px;
    padding-right: 24px;
}
 .activ {
     font-size: 25px;
     font-family: 'Open Sans', sans-serif;
     color: #177fd2;
 }
   
 
.button {
    background-color: #17a2b8;
    border: none;
    color: white;   
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
    float: left;
}

input {
    outline: none;
    background-color: rgb(243, 242, 241);
    border-radius: 4px;
    margin: 50px, 30px, 0px, 0px;
    border: 1px solid rgb(150, 150, 150);
  }
  ::-webkit-input-placeholder { /* Chrome */
    color: red;
    transition: opacity 250ms ease-in-out;
  }
  :focus::-webkit-input-placeholder {
    opacity: 0.5;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: red;
    transition: opacity 250ms ease-in-out;
  }
  :focus:-ms-input-placeholder {
    opacity: 0.5;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: red;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }
  :focus::-moz-placeholder {
    opacity: 0.5;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: red;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }
  :focus:-moz-placeholder {
    opacity: 0.5;
  }

  .reet{
    list-style-type:none;
    position:relative;
    width:120px;
    }
                
    .reet a{
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    width:120px;
    height:50px;
    border:1px solid #000;
    color:#fff;
    background-color:#000;
    }
            
    .reet a:hover{
    color:#000;
    background-color:#fff;
                
    }
    
    .nab.ret.reet {
        display:none;
        position:absolute;
        top:0px;
        left:120px;
    }
            
    .nab.reet:hover ul.ret{display:block;}