<template>
  <div class="container">
    <div class="my-buttons">
      <a v-if="false" class="btn btn-success" href="/companies/create" role="button">Imprimir</a>
      <a class="btn btn-primary" href="/companies/create" role="button">Nueva empresa</a>
    </div>
    <div class="table">
      <table id="empresa">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Razón Social</th>
            <th>Representante Legal</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>RFC</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr v-show="companies.loading">
            <td colspan="7" style="text-align:center">
              Cargando...
            </td>
          </tr>
          <tr v-for="company in companies.entities" :key="company.id">
            <td>{{company.name}}</td>
            <td>{{company.legal_name}}</td>
            <td>{{company.legal_representative}}</td>
            <td>{{company.phone}}</td>
            <td>{{company.email}}</td>
            <td>{{company.rfc}}</td>
            <td>{{company.status}}</td>
            <td width="3px">
              <a class="btn btn-info" :href="'/companies/' + company.id + '/edit' " role="button">Editar</a>
            </td>
            <td width="3px">
              <a
                class="btn btn-danger"
                href="#"
                role="button"
                v-on:click.prevent="deleted(company)"
              >Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      companies: {
        entities: [],
        loading: false
      }
    };
  },
  created: function() {
    this.refresh();
  },
  methods: {
    refresh: function() {
      const el = this;
      el.companies.loading = true;
      fetch("/api/companies")
        .then(res => res.json())
        .catch(err => console.log(err))
        .then(res => {
          el.companies.loading = false;
          el.companies.entities = res;
        });
    },
    deleted: function(company) {
      const el = this;
      var url = "companies/" + company.id;
      axios.delete(url).then(response => el.refresh());
    }
  }
};
</script>

<style>
.my-buttons {
  width: 100%;
  margin: 1em 0;
  display: flex;
  justify-content: flex-end;
}
.my-buttons * {
  margin: 0 5px;
}
</style>